* {
  font-family: "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.div1 h1{
    color: rgb(5, 71, 5);
}

.div2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link {
  color: rgb(53, 68, 63);
  font-size: 16px;
  padding-top: 10px;
  text-decoration: none;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 90%;
  margin: 0 auto;
  height: 70px;
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    cursor: pointer;
}

.div3{
    background-color: #4dff00;
}

.div4{
  width: 250px;
  height: 40px;
  background-color: aliceblue;
}