.odometer-container {
    text-align: center;
    padding: 50px 20px;
    color: greenyellow;
    font-size: 120px;
    font-family: "Lato", sans-serif;
}

.odometer {
    font-size: 30px;
    font-weight: bold;
    color: #e7f3e8;
}
