.edit-btn {
  background: #4dff00;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.edit-btn:hover {
  background: rgb(0, 139, 44);
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.delete-btn:hover {
  background: darkred;
}
